@inherits LayoutComponentBase
@inject ILocalStorageService _localStorageService
@inject NavigationManager navigator
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a  href="" @onclick="() => Logout()">Log out</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private async Task Logout(){
        await _localStorageService.RemoveItemAsync("AuthToken");
        navigator.NavigateTo("/login");
    }
}