@page "/addemployee"
@layout Components.Layout.MainLayout
@inject AuthService authservice
@inject NavigationManager navigator



<div class="card">
    <div class="card-header">
        Add Employee
    </div>

    <EditForm class="p-3" Model="@viewModel" FormName="regemp" OnValidSubmit="HandleRegister">


        <div class="text_field mb-2 w-50">
            <label for="Title">Title</label>
            <InputSelect id="Title" class="form-control" @bind-Value="viewModel.Title">
                <option value="">Title</option>
                @foreach (var title in Titles)
                {
                    <option value="@title">@title</option>
                }
            </InputSelect>
            <ValidationMessage For="() => viewModel.Title" />
        </div>
        <div class="text_field mb-2 w-50">
            <label for="Firstname">Firstname</label>
            <InputText id="Firstname" class="form-control" @bind-Value="viewModel.Firstname" />
            <ValidationMessage For="() => viewModel.Firstname" />
        </div>
        <div class="text_field mb-2 w-50">
            <label for="Lastname">Lastname</label>
            <InputText id="Lastname" class="form-control" @bind-Value="viewModel.Lastname" />
            <ValidationMessage For="() => viewModel.Lastname" />
        </div>
        <div class="text_field mb-2 w-50">
            <label for="NIK">NIK</label>
            <InputText id="NIK" class="form-control" @bind-Value="viewModel.NIK" />
            <ValidationMessage For="() => viewModel.NIK" />
        </div>
        <div class="text_field mb-2 w-50">
            <label for="Department">Department</label>
            <InputText id="Department" class="form-control" @bind-Value="viewModel.Department" />
            <ValidationMessage For="() => viewModel.Department" />
        </div>
        <div class="text_field mb-2 w-50">
            <label for="Birthdate">Birthdate</label>
            <InputDate id="Birthdate" class="form-control" @bind-Value="viewModel.Birthdate" />
            <ValidationMessage For="() => viewModel.Birthdate" />
        </div>

        <div class="text-center mb-3">
            <span class="text-danger">@errorMessage</span>
        </div>

        <button type="submit" class="btn btn-primary mb-1">Add Employee</button>

        <DataAnnotationsValidator />
        @* <ValidationSummary /> *@

    </EditForm>

</div>

@code {

    [SupplyParameterFromForm(FormName = "regemp")]
    public RegisterEmployeeViewModel viewModel { get; set; } = new();

    private string? errorMessage { get; set; }

    private List<string> Titles = new List<string>
    {
        "Mr. ",
        "Ms. "
    };

    private void HandleRegister()
    {
        try
        {
            authservice.Register(viewModel);
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }
            navigator.NavigateTo("/employees");
    }

}