@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity!</h1>
        Welcome to your new app.
    </Authorized>
    <NotAuthorized>
        <p>You are not log in</p>
    </NotAuthorized>

</AuthorizeView>


