<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Head" />
</head>
<body class="authentication-body">
    <div class="center">
        <h1>Silakan Login</h1>
        <main>
            @RenderBody()
        </main>
    </div>
</body>
